.header {
  background-color: hsla( 0, 0.3, 0.3, 0.2);
  overflow: hidden;
}
.nav_left_menu {
  margin-top: 20px;
  li {
    cursor: pointer;
  }
}
.goods_table {
  .custom-control-label::before {
    width: 1.6rem;
    height: 1.6rem;
  }
  .custom-control-label::after {
    width: 2rem;
    height: 2rem;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #1d2124;
  }
  .custom-control {
    padding-left: 3rem;
    min-height: 3rem;
  }
}
.shops_option {
  margin-top: 20px;
}
.users_option {
  margin-top: 20px;
}
.articles_option {
  margin-top: 20px;
}
.product_img {
  width: 140px;
}
.user_img {
  width: 100px;
}
.goods_option {
  margin-top: 20px;
}
.section_wrapper {
  padding-bottom: 100px;
  overflow: hidden;
}
.graphic_block {
  margin-top: 20px;
}
.statistic_header {
  margin-top: 50px;
}
.statistic_legend {
  .input-group-prepend {
    margin-bottom: 10px;
  }
  input {
    margin-right: 5px;
  }
}
.articles_table {

  .articles_table_header th {
  &:nth-child(1){
    width: 3%;
  }
  &:nth-child(2){
    width: 3%;
  }
  &:nth-child(3){
    width: 15%;
  }
  &:nth-child(4){
    width: 15%;
  }
  &:nth-child(5){
    width: 34%;
  }
  &:nth-child(6){
    width: 7%;
  }
  &:nth-child(7){
    width: 20%;
  }
  &:nth-child(8){
    width: 10%;
  }
  }
  .article_img {
    width: 140px;
  }
}
.comments_table {

  .comments_table_header th {
    &:nth-child(1){
      width: 3%;
    }
    &:nth-child(2){
      width: 3%;
    }
    &:nth-child(3){
      width: 25%;
    }
    &:nth-child(4){
      width: 15%;
    }
    &:nth-child(5){
      width: 5%;
    }
    &:nth-child(6){
      width: 35%;
    }
    &:nth-child(7){
      width: 5%;
    }
    &:nth-child(8){
      width: 10%;
    }
  }
  .comment_img {
    width: 100px;
  }
  .product_img {
    width: 100px;
  }
}