@media screen and (max-width: 768px), handheld and (max-width: 768px) {
	html {
		font-size: 10px;
	}
	header,
	.wrapper,
	footer  {
		width: 24rem;
		padding: 0 4rem;
	}
	h1.main_header {
		font-size: 2.4rem;
	}
	h2.sub_header {
		font-size: 3.6rem;
		line-height: 3rem;
	}
	h3.section_header {
		font-size: 2.4rem;
	}
	h4.sub_header {
		line-height: 3rem;
		font-size: 3.4rem;
	}
	.mobile_header {
		display: block !important;
	}
	.text {
		line-height: 2rem;
	}
	header {
		position: fixed;
		overflow: hidden;
		z-index: 4;
		top: 2rem;
		height: 4rem;
		background-color: hsla( 0, 0%, 100%, 0);
	}
	.header_menu {
		overflow: hidden;
		box-sizing: content-box;
		position: absolute;
		right: 4rem;
		display: inline-block;
		width: 5rem;
		height: 0;
		background-color: hsla(0, 0%, 100%, 0);
		transition: width 0.3s;
		padding-bottom: 1rem;
		padding-top: 3rem;
	}
	.header_menu:before {
		content: url(../img/main/butter.svg);
		display: block;
		position: absolute;
		top: -1rem;
		right: 0;
	} 
	.logo {
		float: left;
	    display: inline-block;
	    width: 6.5rem;
	    height:3.3rem;
	    vertical-align: middle;
	    cursor: pointer;
	    margin: 0;
	}
	.logo img {
	    width:100%;
	    height: 3.3rem;
	}
	.my_account {
		float: left;
		clear: left;
	}
	.search_header {
		clear: both;
		width: 100%;
		margin: 1rem 0;
	}
	.main_screen_wrapper {
		height: 100vh;
	}
	.main_screen_wrapper .sub_header {
		margin-bottom: 1rem;
		margin-top: 20vh;
	}
	.play_video {
		margin-top: 2rem;
	}
	.main_search input,
	.main_search select,
	.main_search .btn {
		width: 24rem;
		margin: 0 0 1rem 0;
	}
	.travels_container {
		height: 95rem;
		padding-right: 2rem;
		overflow: hidden;
	}
	.main_travel {
		width: 100%;
	}
	.main_travel .name_header {
		margin-left: 1rem;
	}
	.main_travel_date {
		margin-left: 1rem;
	}
	.main_travel_play {
		margin-right: 1rem;
	}
	.show_more_travels {
		width: 100%;
	}
	.advantages_header,
	.advantages_subheader {
		display: none;
	}
	.advantage_block {
		height: auto;
	}
	.reviews_container {
		position: relative;
		height: 49rem;
		padding-right: 2rem;
		padding-left: 1rem;
		left: -1rem;
	}
	.review_block {
		box-sizing: border-box;
		width: calc(100% - 2rem);
		position: absolute;
		left: calc( 100% + 2rem);
		padding: 1rem;
		height: 47rem;
	}
	.review_block:first-child {
		left: 1rem;
	}
	.review_block .text {
		width: 100%;
	}
	.show_more_reviews {
		display: none;
	}
	.discount_wrapper {
		background-position: left;
		padding: 6rem 0 7rem 0;  
	}
	.discount_header,
	.discount_subheader {
		display: none;
	}
	.discount_form {
		width: 100%;
		margin-top: 1rem;
		text-align: center;
	}
	.discount_form .desctop_discount_form {
		display: none;
	}
	.discount_form .mobile_discount_form {
		width: 24rem;
		display: inline-block;
	}
	.discount_form input,
	.discount_form button {
		width: 100%;
		margin: 1rem 0 0 0;
	}
	.discount_form button {
		margin-top: 2rem;
	}
	.captains_header {
		margin-top: 6rem;
	}
	.captain_block {
		display: none;
		width: 100%;
		padding: 1rem 1rem 3rem 1rem;
	}
	.captain_block:first-child {
		display: block;
	}
	.captain_block .text {
		display: inline-block;
		width: 100%;
	}
	.captains_btn_container {
		margin-top: 0;
	}
	.show_all_captains {
		display: none;
		width: 100%;
		margin-bottom: 2rem;
	}
	.mobile_btn {
		display: block;
	}
	.become_a_captain {
		width: 100%;
	}
	.infos_container {
		margin-top: 3rem;
	}
	a.info_header,
	.info_header {
		width: 21rem;
	}
	.info_block {
		display: none;
		width: 100%;
		height: 47rem;
		margin-bottom: 2.5rem;
	}
	.info_block:first-child {
		display: block;
	}
	.info_block .text {
		width: 21rem;	
	}
	.show_more_infos {
		width: 100%;
		margin: 0;
	}
	.footer_adress {
		width: 100%;
		margin-top: 5rem;
		margin-bottom: 6rem;
	}
	.copyright_wrapper {
		width: 100%;
	}
	.copyright {
		margin-top: 4rem;
		padding-bottom: 9rem;
	}
	.cart_travels_container {
		width: 100%;
		margin-top: 3.5rem;
	}
	.cart_container {
		width: 100%;
		float: none;
		margin: 0;
		padding-top: 5rem;
		clear: both;
	}
	.cart_header {
		clear: both;
		width: 100%;
		text-align: center;
	}
	.cart_form {
		text-align: center;
	}
	.cart_form .text {
		line-height: 2rem;
		margin-bottom: 4rem;
	}
	.cart_form select {
		display: block;
		margin: 2rem auto 0 auto;
		line-height: 6rem;
		height: 6rem;
	}
	.cart_form input {
		display: block;
		margin: 2rem auto 0 auto;
		width: 100%;
		margin-top: 1rem;
	}
	.cart_form .mob_fix {
		margin-bottom: 2rem;
	}
	.cart_form .btn {
		width: 100%;
		margin-top: 3rem;
	}
	.article_img {
		height: 23rem;
		margin-top: 9rem;
	}
	.article_img_wrapper {
		line-height: 46rem;
	}
	.article_img  img {
		height: 50%;
		width: auto;
	}
	.article_header {
		width: 100%;
		display: block;
		text-align: center;
	}
	h6.nearest_travel_header {
		display: none;
		width: 100%;
		margin: 0 0 2rem 0;
	}
	.article_text {
		width: 100%;
		margin-bottom: 6rem;
	}
	.article_text ul li {
		margin-left: 3rem;
	}
	.article_text ul li:before {
		left: -3rem;
	}
	div.print_article {
		margin-bottom: 2rem;
		width: 100%;
	}
	div.save_article {
		width: 100%;
	}
	.article_travels_container {
		width: 100%;
		float: none;
		margin: 0;
	}
	div.mob_show,
	h6.mob_show {
		display: block;
	}
	.wish_wrapper {
		width: 100%;
	}
	.wish_header {
		margin-top: 7rem;
		width: 100%;
		text-align: center;
	}
	.wish_products_container {
	    height: 63rem;
	    overflow: hidden;
		width: 24rem;
		padding: 0 1rem;
		position: relative;
		left: -1rem;
	}
	.profile_container {
		width: 100%;
		margin-top: 3.5rem;
	}
	.profile_img {
		width: 24rem;
	}
	.edit_profile {
		background-color: hsla( 0, 0%, 100%, 0.3);
		padding: 2px;
	}
	.profile_container {
		height: auto;
	}
	.profile_container .name_header {
		margin-top: 2rem;
	}
	.my_travels_header {
		text-align: center;
	}
	.my_travels_map {
		height: 15rem;
		max-width: 32rem;
		margin: 2.2rem auto 0 auto;
	}
	.history_products_container {
		width: 24rem;
		padding: 0 1rem;
		position: relative;
		left: -1rem;
		overflow: hidden;
		height: 57rem;
		margin-bottom: 4rem;
	}
	.my_reviews_header {
		margin-top: 7rem;
		width: 100%;
		text-align: center;
	}
	.my_review {
		width: 100%;
	}
	.my_review .my_review_header {
		font-size: 1.6rem;
		float: left;
		width: 15rem;
		margin-right: 0;
	}
	.my_review_date {
		float: right;
		margin-top: 3rem;
	}
	.my_review_text {
		clear: both;
	}
	.sub_slider_viewer {
		display: none;
	}
	.main_slider_viewer {
		width: 100%;
		height: calc( 100vh - 10rem);
		margin-top: 2rem;
		padding-bottom: 5rem;
		margin-bottom: 6rem;
	}
	.main_slide {
		width: 24rem;
		overflow: hidden;
	}
	.main_slide img {
		height: 100%;
		width: auto;
		position: relative;
		left: -50%;
	}
	.product_header {
		margin-top: 0;
		width: 100%;
		text-align: center;
	}
	.all_product_header {
		width: 100%;
		text-align: center;
	}
	.product_container {
		width: 100%;
	}
	.product_captain_block {
		width: 100%;
		height: 37rem;
		margin-bottom: 3rem;
	}
	.product_captain_block .text {
		width: 100%;
		box-sizing: border-box;
		padding: 0 0.5rem;
	}
	.product_info {
		width: 100%;
		text-align: center;
		height: auto;
	}
	.product_info .text {
		width: 16rem;
		margin: 1rem 0;
		text-align: center;

	}
	.product_info .text:before {
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		display: block;
		margin: 1rem auto;

	}
	.product_calendar {
		clear: both;
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
	}
	.product_buttons_container {
		clear: both;
		padding-top: 4rem;
		text-align: center;
	}
	.product_btn_buy {
		width: 100%;
	}
	.product_btn_wish {
		margin-top: 3rem;
	}
	.product_btn_share {
		display: none;
	}
	.product_text {
		margin-top: 5rem;
	}
	.show_full_travel {
		display: none;
		width: 100%;
		margin-top: 4rem;
	}
	.reviews_header {
		margin-top: 10rem;
	}
	.product_more_reviews {
		display: none;
	}
	.same_products_header {
		width: 100%;
		text-align: center;
		margin-top: 8rem;
	}
	.same_travels_container {
		height: 63rem;
	}
	.saw_products_header {
		margin-top: 8rem;
		width: 100%;
		text-align: center;
	}
	.saw_travels_container {
		height: 63rem;
	}
	.search_container {
		margin-top: 7.5rem;
		line-height: 4rem;
		padding: 1rem 0;
	}
	.search_container input,
	.search_container select {
		width: 24rem;
		margin: 0.5rem 0;
		line-height: 3rem;
		height: 4rem;
	}
	.sorting_container select {
		width: 100%;
	}
	.goods_container {
		width: 100%;
	}
	.listing_products_container {
		width: 100%;
	}
	.listing_map_container {
		display: none;
	}

}
@media handheld and (min-width: 768px), screen and (min-width: 768px) {
	html {
		font-size: 6.8px;
	}
}
@media handheld and (min-width: 992px), screen and (min-width: 992px) {
	html {
		font-size: 8.3px;
	}
}

@media handheld and (min-width: 1200px), screen and (min-width: 1200px) {
	html {
		font-size: 10px;
	}
}


