@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.woff2") format("woff2"),
         url("../fonts/Lato-Light.woff") format("woff");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2"),
         url("../fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.woff2") format("woff2"),
         url("../fonts/Lato-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
         url("../fonts/Lato-Semibold.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2"),
         url("../fonts/Lato-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Heavy.woff2") format("woff2"),
         url("../fonts/Lato-Heavy.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff2") format("woff2"),
         url("../fonts/Lato-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-LightItalic.woff2") format("woff2"),
         url("../fonts/Lato-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.woff2") format("woff2"),
         url("../fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"),
         url("../fonts/Lato-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: "Resphekt";
    src: url("../fonts/Resphekt.ttf");
    font-style: normal;
    font-weight: 400;
}



/*   L E G E N D    */
p,a,div,section,article,h1,h2,h3,h4,h5,h6,nav,header,footer {
    font-family: Lato;
}
a {
    text-decoration: none;
    color: inherit;
}
.aqua {
    color: hsl(188, 100%, 25%);
}
.black {
    color: hsl(0, 0%, 19%);
}
.white {
    color: hsl(0, 0%, 0%);
}
.text {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 19%);
}
.heavy {
    font-weight: 800;
}
.number_text {
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 400;
    font-style: normal;
}
.main_wrapper {
    width:100%;
    height:auto;
    overflow: hidden;
}
h1.main_header {
    font-size: 4.8rem;
/*    line-height: 6rem;*/
    font-weight: 800;
    font-style: normal;
}
h3.section_header {
    font-size: 3.6rem;
    font-weight: 800;
/*    line-height: 6rem;*/
    font-style: normal;
}
h2.sub_header {
    font-family: Resphekt;
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 800;
    font-style: normal;  
}
h4.sub_header {
    font-family: Resphekt;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 6rem;
}
h6.name_header {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 800;
}
.wrapper,
header,
footer {
    width: 114rem;
    padding: 0 3rem;
    margin: 0 auto;
    display: block;
}
.header_wrapper {
    box-shadow: 0 3px 3px 1px hsla(0, 0%, 0%, 0.05);
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
}

/*   H E A D E R   */

header {
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    background-color: white;
}
.header_menu {
    float: left;
    width: 40rem;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    
}
.header_menu li {
    width: auto;
    display: inline-block;
    text-align: left;
}
.header_menu a {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 800;
}
.logo {
    display: inline-block;
    width: 6.5rem;
    height:3.3rem;
    vertical-align: middle;
}
.logo img {
    width:100%;
    height: 3.3rem;
}
.search_header {
    display: inline-block;
    vertical-align: middle;
    height: 3.3rem;
    width: 25.3rem;
    float: right;
    margin-right: 3rem;
}
.search_header input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: hsla(188, 100%, 25%, 0.3);
    border: 0.2rem solid hsla(188, 100%, 25%, 0.3);
    padding-left: 2rem;
    font-size: 1.6rem;
    line-height: 3.1rem;
}
.search_header input::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
   }
.search_header input::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.search_header input:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

}
.search_header input::-ms-input-placeholder { 
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.search_header input::placeholder { 
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

} 
.search_header input:focus {
    color: hsla(188, 100%, 25%, 1);
    border: 0.2rem solid hsla(188, 100%, 25%, 1);
}
.my_account {
    position: relative;
    margin-top: 1.2rem;
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 11rem;
    height: auto;
    min-height: 3.3rem;
    line-height: 3.3rem;
    box-sizing: border-box;
    text-align: left;
}
.my_account_menu {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    line-height: 3.1rem;
    width: 100%;
    font-weight: 800;
}
.my_account_menu:after {
    content: "";
    position: absolute;
    right:0;
    top: 1.1rem;
    display: inline-block;
    line-height: 3.1rem;
    width: 1.6rem;
    height: 0.9rem;
    background-image: url("../img/main/d_arrow.png");
    background-size: cover;
}
.my_account:hover ul {
    height: 12rem;
    padding: 2.7rem 1rem 1rem 1rem;
}
.my_account ul {
    display: block;
    padding: 0 1rem;
    position: absolute;
    top: 3.3rem;
    left: 0;
    height:0;
    overflow: hidden;
    width: 120%;
    z-index: 3;
    background-color: hsla( 0, 0%, 100%, 0.4);
    transition: height 0.6s, padding 0.4s;
}
.my_account li {
    cursor: pointer;
    display: block;
    margin: 0.5rem 0;
    font-size: 1.6rem;
    line-height: 2.6rem;
}


/*    M A I N    S C R E E N  */

.main_screen_wrapper {
    width: 100%;
    position: relative;
/*    top: 6rem;*/
    height: calc(100vh - 6rem);
    overflow: hidden;
    text-align: center;
}
.main_screen_video {
    position: absolute;
    width: 200%;
    height:100%;
    top: 0;
    left:  -50%;
    text-align: center;
}
.main_screen_video img {
    min-width: 50%;
    min-height: calc(100vh - 6rem);
    height:auto;
    display: inline-block;
}
.main_screen_video:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: hsla( 0, 0%, 100%, 0.4);
}
.sub_header,
.main_header,
.main_search,
.play_video {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
}
.play_video {
    width: 2rem;
    height: 1.5rem;
    margin-top: 4rem;
    cursor: pointer;
}
.sub_header {
    margin-top: 30vh;
}
.main_header,
.sub_header {
    line-height: 1.6rem;
}
.main_search {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 6rem;
}
.main_search input,
.main_search select,
.main_search .btn {
    box-sizing: border-box;
    display: inline-block;
    width: 27rem;
    height: 6rem;
    padding-top: 0.7rem;
    line-height: 5rem;
    vertical-align: middle;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.main_search input,
.main_search select {
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    margin-right: 1.5rem;
    outline: none;
    border: none;
}
.main_search input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.main_search input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.main_search input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.main_search input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.main_search input::placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
} 
.main_search button {
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight:800;
    font-size: 1.6rem;
    cursor: pointer;
}
.travels_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 5.5rem;
}
.main_travel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    width: 37rem;
    height: 30rem;
    margin-bottom: 2rem;
/*    margin-top: 0.2rem;*/
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
/*    transition: margin-top 0.4s;*/
}
.main_travel:hover {
/*    margin-top: 0;*/
    box-shadow: 4px 3px 9px 2px hsla(0, 0%, 0%, 0.1);
}

.main_travel_price {
    position: absolute;
    right: 0;
    top: 1rem;
    display: inline-block;
    background-color: hsla( 0, 0%, 100%, 1);
    color: inherit;
    line-height: 3.3rem;
    padding: 0 1.5rem;
    z-index: 1;
    font-weight: 800;
}
.travel_video_container {
    position: relative;
    width: 200%;
    left: -50%;
    text-align: center;
    height: 21rem;
    overflow: hidden;
}
.travel_video_container:after {
    content: "";
    display: block;
    background-color: hsla(200, 35%, 93%, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.travel_video_container img {
    cursor: pointer;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 50%;
    display: inline-block;
}
.main_travel .name_header {
    margin-top: 1rem;
    margin-left: 2rem;
    color: inherit;
    min-height: 4.2rem;
}
.main_travel_date {
    display: inline-block;
    position: relative;
    margin: 1rem 0 0 2rem;
    padding-left: 3rem;
}
.main_travel_date:before {
    content: url("../img/main/3.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 2.1rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_spots {
    position: relative;
    padding-left: 2.1rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
.main_travel_spots:before {
    content: url("../img/main/5.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1.6rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_play {
    float: right;
    width: 2.2rem;
    height: 1.6rem;
    opacity: 0.7;
    margin-right: 2rem;
    margin-top: 1.2rem;
}
.show_more_travels {
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 27rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.advantages_container {
    margin-top: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 5.5rem;
}
.advantages_header {
    width: 100%;
    text-align: center;
    margin-top: 16rem;
    line-height: 2.5rem;
}
.advantages_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.advantage_block {
    display: inline-block;
    width: 26.5rem;
    height: 22rem;
}
.advantage_img {
    display: block;
    height: 13rem;
    line-height: 13.1rem;
    margin-bottom: 2rem;
}
.advantage_img img {
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    height: 100%;
}
.advantage_block .text {
    display: block;
}
.advantage_block:nth-child(1) .advantage_img img {
    height: 8.1rem;
}
.advantage_block:nth-child(2) .advantage_img img {
    height: 9.8rem;
}
.advantage_block:nth-child(3) .advantage_img img {
    height: 13.1rem;
}
.advantage_block:nth-child(4) .advantage_img img {
    height: 8rem;
}
.reviews_header {
    width: 100%;
    text-align: center;
    margin-top: 13rem;
    line-height: 2.5rem;
}
.reviews_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.reviews_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
.review_block {
    width: 27rem;
    height: 45rem;
    background-color: white;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
}
.review_img {
    display: inline-block;
    margin-top: 2rem;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 16rem;
    border: 0.5px solid hsl(188, 100%, 25%);
}
.review_img img {
    width:  100%;
    height: 100%;
}
.review_header {
    width: 100%;
    text-align: center;
    margin-top: 1.4rem;
}
.review_object {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.review_block .text {
    display: inline-block;
    text-align: left;
    height: 15.8rem;
    width: 22.5rem;
}
.product_more_reviews {
    text-align: center;
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 27rem;
    height: 6rem;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.show_more_reviews {
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 21rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.discount_wrapper {
    margin-top: 10rem;
    width: 100%;
    display: block;
    padding: 4.5rem 0 8rem 0;
    position: relative;
    background-image: url(../img/main/discount.jpg);
    background-position: center;
    background-size: cover;
}
.discount_wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl( 0, 0%, 100%);
    opacity: 0.6;
}
.discount_header {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
}
.discount_subheader {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.discount_form {
    position: relative;
    z-index: 1;
    width: 114rem;
    margin: 6rem auto 0 auto;
}
.discount_form form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.discount_form input {
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    outline: none;
    width: 26.7rem;
    height: 4.5rem;
    box-sizing: border-box;
    border: 2px solid hsl(188, 100%, 25%);
    background-color: hsla( 0, 0%, 100%, 0);
}
.discount_form input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.discount_form input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form input::placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form button {
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width:29rem;
    height: 4.5rem;
    margin-left: 1rem;
}

.captains_header {
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 10rem;
}
.captains_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.captains_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
} 
.captain_block {
    display: inline-block;
    width: 37rem;
    height: 34rem;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: white;
}
.captain_img {
    display: inline-block;
    margin-top: 2rem;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 16rem;
    border: 0.5px solid hsl(188, 100%, 25%);
}
.captain_img img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.captain_name {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.captain_block .text {
    display: inline-block;
    text-align: left;
    width: 33rem;
}
.captain_block .text span {
    font-weight: 800;
}
.captains_btn_container {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.show_all_captains {
    display: inline-block;
    vertical-align: middle;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 32rem;
    height: 6rem;
    line-height: 6rem;
    margin-right: 2rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.become_a_captain {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    width: 20rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800; 
}

.infos_header {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    line-height: 2.5rem;
}
.infos_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.infos_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
.info_block {
    width: 27rem;
    height: 45rem;
    background-color: white;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
}
.info_img {
    display: inline-block;
    margin-top: 2rem;
    width: 23rem;
    height: 15rem;
    overflow: hidden;
    text-align: center;
}
.info_img img {
    display: inline-block;
    width:  auto;
    height: 100%;
}
.info_header {
    width: 22.5rem;
    display: inline-block;
    text-align: left;
    margin: 1.4rem 0;
    min-height: 4.2rem;
}
.info_block .text {
    display: inline-block;
    text-align: left;
    height: 15.8rem;
    width: 22.5rem;
}
.show_more_infos {
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 27rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800; 
}

footer {
    padding-bottom: 10rem;
    margin-top: 10rem;
    text-align: left;
}
footer .text {
    color: hsla(188, 100%, 25%, 1);
}
.footer_menu {
    display: inline-block;
    width: 29rem;
    vertical-align: top;
}
.footer_menu li {
    margin: 0 0 1rem 0;
}
.footer_adress {
    vertical-align: top;
    width: 37rem;
    display: inline-block;
    margin-right: 12rem;
}
.adress_block {
    line-height: 2.4rem;
}
.footer_adress a {
    display: block;
    line-height: 2.4rem;
}
.copyright_wrapper {
    width: 33rem;
    display: inline-block;
    vertical-align: bottom;
}
.copyright_wrapper div {
    margin-bottom: 1rem;
}
.sub_slider_viewer {
    display: inline-block;
    width: 17.5rem;
    height: 43rem;
    overflow: hidden;
}
.sub_slider_wrapper {
    display: block;
    width:100%;
    height: 1200rem;
    font-size: 0;
}
.sub_slide {
    display: inline-block;
    width: 100%;
    height: 13.2rem;
    margin-bottom: 2rem;
    background-position: center;
    background-size: cover;
}
.sub_slide img {
    width: 100%;
    height: auto;
}
.main_slider_viewer {
    float: right;
    width: 94.5rem;
    height: 43rem;
    display: inline-block;
    overflow: hidden;
}
.main_slider_wrapper {
    width: 1200rem;
    height: 100%;
    display: block;
    font-size: 0;
}
.main_slide {
    width: 94.5rem;
    height: 100%;
    display: inline-block;
}
.main_slide img {
    width: 100%;
    height: 100%;
}
.product_header {
    width: 100%;
    text-align: left;
    clear: both;
    margin-top: 5.5rem;
}
.all_product_header {
    width: 100%;
    margin-top: 3rem;
}
.product_container {
    margin-top: 5rem;
}
.product_captain_block {
    display: inline-block;
    width: 37rem;
    height: 34rem;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: white;
}
.product_captain_img {
    display: inline-block;
    margin-top: 2rem;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 16rem;
    border: 0.5px solid hsl(188, 100%, 25%);
}
.product_captain_img img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.product_captain_name {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.product_captain_block .text {
    display: inline-block;
    text-align: left;
    width: 33rem;
}
.product_captain_block .text span {
    font-weight: 800;
}
.product_info {
    position: relative;
    display: inline-block;
    float: right;
    width: 68.5rem;
    text-align: left;
    height: 34rem;
}
.product_info .text {
    display: inline-block;
    position: relative;
    width: 15rem;
    text-align: left;
    vertical-align: top;
    margin-right: 7.5rem;
    overflow: hidden;
}
.product_info .text:before {
    display: block;
    content: url(../img/Product/21x20.svg);
    width: 2.1rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.product_info .text:nth-child(2):before {
    content: url(../img/Product/18x20.svg);
    width: 1.8rem;
    height: 2rem;
}
.product_info .text:nth-child(3):before {
    content: url(../img/Product/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F%201.svg);
    width: 2.2rem;
    height: 1.6rem;
}
.product_calendar {
    width: 100%;
    height: 25rem;
    position: absolute;
    bottom: 0;
}
.product_calendar img {
    width: 100%;
    height: 100%;
}
.product_buttons_container {
    display: block;
    margin-top: 4rem;
    width: 100%;
    text-align: left;
/*    line-height: 6rem;*/
/*    height: 6rem;*/
}
.product_btn_buy {
    display: inline-block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width:27rem;
    height: 6rem;
    line-height: 6rem;
    margin-right: 2rem;
    text-align: center;
}
.product_btn_wish {
    cursor: pointer;
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 2rem;
    vertical-align: middle;
}
.product_btn_wish img {
    width: 100%;
    height: 100%;
}
.product_btn_share {
    cursor: pointer;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    vertical-align: middle;
}
.product_btn_share img {
    width: 100%;
    height: 100%;
}
.product_text {
    width: 100%;
    margin-top: 6rem;
}
.show_full_travel {
    cursor: pointer;
    margin: 4.5rem 0 0 0;
    display: block;
    width: 29rem;
    height: 6.5rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6.5rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.same_products_header {
    margin-top: 11rem;
}
.same_travels_container {
    margin-top: 3.5rem;
}
.saw_products_header {
    margin-top: 10rem;
}
.saw_travels_container {
    margin-top: 3.5rem;
}
.saw_travels_container article {
    width: 27.5rem;
}
.search_container {
    display: block;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    line-height: 11rem;
    background-color: hsl(188, 100%, 25%);
}
.search_container input,
.search_container select,
.search_container .btn {
    box-sizing: border-box;
    display: inline-block;
    width: 27rem;
    height: 6rem;
    padding-top: 0.7rem;
    line-height: 5rem;
    vertical-align: middle;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.search_container input,
.search_container select {
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    margin-right: 1.5rem;
    outline: none;
    border: none;
}
.search_container input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.search_container input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.search_container input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.search_container input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.search_container input::placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
} 
.sorting_container {
    width: 100%;
    text-align: left;
    margin-top: 2.5rem;
}
.sorting_container .text {
    display: inline-block;
    margin-right: 4.5rem;
}
.sorting_container select {
    display: inline-block;
    box-sizing: border-box;
    width: 27rem;
    height: 4rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(188, 100%, 25%);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.1rem;
    margin-right: 1.5rem;
    padding-left: calc(2rem - 2px);
}
.listing_products_container {
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 76rem;
    height: auto;
    margin: 4rem 0;
}
.main_travel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    width: 37rem;
    height: 30rem;
    margin-bottom: 2rem;
/*    margin-top: 0.2rem;*/
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
/*    transition: margin-top 0.4s;*/
}
.main_travel:hover {
/*    margin-top: 0;*/
    box-shadow: 4px 3px 9px 2px hsla(0, 0%, 0%, 0.1);
}

.main_travel_price {
    position: absolute;
    right: 0;
    top: 1rem;
    display: inline-block;
    background-color: hsla( 0, 0%, 100%, 1);
    color: inherit;
    line-height: 3.3rem;
    padding: 0 1.5rem;
    z-index: 1;
    font-weight: 800;
}
.travel_video_container {
    position: relative;
    width: 200%;
    left: -50%;
    text-align: center;
    height: 21rem;
    overflow: hidden;
}
.travel_video_container:after {
    content: "";
    display: block;
    background-color: hsla(200, 35%, 93%, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.travel_video_container img {
    cursor: pointer;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 50%;
    display: inline-block;
}
.main_travel .name_header {
    margin-top: 1rem;
    margin-left: 2rem;
    color: inherit;
    min-height: 4.2rem;
}
.main_travel_date {
    display: inline-block;
    position: relative;
    margin: 1rem 0 0 2rem;
    padding-left: 3rem;
}
.main_travel_date:before {
    content: url("../img/main/3.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 2.1rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_spots {
    position: relative;
    padding-left: 2.1rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
.main_travel_spots:before {
    content: url("../img/main/5.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1.6rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_play {
    float: right;
    width: 2.2rem;
    height: 1.6rem;
    opacity: 0.7;
    margin-right: 2rem;
    margin-top: 1.2rem;
}
.listing_map_container {
    width: 36rem;
    float: right;
    height: 62rem;
    margin-top: 4rem;
    background-position: center;
    background-size: cover;
}

.listing_show_more {
    clear: both;
    cursor: pointer;
    margin: 0 auto 0 auto;
    display: block;
    width: 30rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.own_travel_container {
    display: block;
    margin-top: 20rem;
    width: 100%;
    padding: 4.5rem 0 6rem 0;
    text-align: center;
    background-image: url(../img/Listing-page/7.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.own_travel_container:after {
    position: absolute;
    z-index: 1;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0.6);
}
.own_travel_wrapper {
    display: inline-block;
    width: 63rem;
    text-align: left;
    position: relative;
    z-index: 2;
    
}
.own_travel_container .text {
    text-align: left;
    margin-top: 2rem;

}
.own_travel_form {
    margin-top: 4rem;
    display: block;
    text-align: left;
}
.own_travel_form input {
    margin-top: 1rem;
    display: block;
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    outline: none;
    width: 29rem;
    height: 4.5rem;
    box-sizing: border-box;
    border: 2px solid hsl(188, 100%, 25%);
    background-color: hsla( 0, 0%, 100%, 0);
}
.own_travel_form input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.own_travel_form input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form input::placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form button {
    display: block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width:29rem;
    height: 4.5rem;
    margin-top: 2rem;
}
.listing_reviews_header {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
}
.listing_reviews_wrapper {
    margin-bottom: 11rem;
}
.owner_container {
    margin-top: 5rem;
    display: block;
    text-align: left;
}
.owner_img {
    position: relative;
    width: 46rem;
    height: 40rem;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin-right: 2rem;
}
.owner_img_wrapper {
    position: absolute;
    display: block;
    text-align: center;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    line-height: 80rem;
}
.owner_img img {
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.owner_text {
    vertical-align: top;
    display: inline-block;
    width: 65rem;
}
.owner_header {
    margin: 0;
    width: auto;
    display: block;
}
.owner_post {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: auto;
    display: block;
}
.owner_container .text {
    display: block;
}
.owner_container .text span {
    font-weight: 800;
}
.owner_reviews_header {
    width: 100%;
    text-align: center;
    margin-top: 11rem;
    line-height: 2.5rem;
}
.owner_travels_header {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
}
.owner_travels_header + .travels_container {
    margin-top: 3rem;
}











/*some text*/