@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.woff2") format("woff2"),
         url("../fonts/Lato-Light.woff") format("woff");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2"),
         url("../fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.woff2") format("woff2"),
         url("../fonts/Lato-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
         url("../fonts/Lato-Semibold.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2"),
         url("../fonts/Lato-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Heavy.woff2") format("woff2"),
         url("../fonts/Lato-Heavy.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff2") format("woff2"),
         url("../fonts/Lato-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-LightItalic.woff2") format("woff2"),
         url("../fonts/Lato-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.woff2") format("woff2"),
         url("../fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"),
         url("../fonts/Lato-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: "Resphect";
    src: url("../fonts/Resphect.ttf") format("woff2");
    font-style: normal;
    font-weight: 400;
}



/*   L E G E N D    */
p,a,div,section,article,h1,h2,h3,h4,h5,h6,nav,header,footer {
    font-family: Lato;
}
a {
    text-decoration: none;
    color: inherit;
}
.aqua {
    color: hsl(188, 100%, 25%);
}
.black {
    color: hsl(0, 0%, 19%);
}
.white {
    color: hsl(0, 0%, 0%);
}
.text {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
}
.heavy {
    font-weight: 800;
}
.number_text {
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 400;
    font-style: normal;
}
h1.main_header {
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 800;
    font-style: normal;
}
h3.section_header {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 6rem;
    font-style: normal;
}
h4.sub_header {
    font-family: Resphect;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 6rem;
}
h6.name_header {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 800;
}
.wrapper,
header,
footer {
    width: 114rem;
    padding: 0 3rem;
    margin: 0 auto;
    display: block;
}

/*   H E A D E R   */

header {
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    background-color: white;
}
.header_menu {
    float: left;
    width: 40rem;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    
}
.header_menu li {
    width: auto;
    display: inline-block;
    text-align: left;
}
.header_menu a {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 800;
}
.logo {
    display: inline-block;
    width: 6.5rem;
    height:3.3rem;
    vertical-align: middle;
}
.logo img {
    width:100%;
    height: 3.3rem;
}
.search_header {
    display: inline-block;
    vertical-align: middle;
    height: 3.3rem;
    width: 25.3rem;
    float: right;
    margin-right: 3rem;
}
.search_header input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: hsla(188, 100%, 25%, 0.3);
    border: 0.2rem solid hsla(188, 100%, 25%, 0.3);
    padding-left: 2rem;
    font-size: 1.6rem;
    line-height: 3.1rem;
}
.search_header input::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
   }
.search_header input::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.search_header input:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

}
.search_header input::-ms-input-placeholder { 
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.search_header input::placeholder { 
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

} 
.search_header input:focus {
    color: hsla(188, 100%, 25%, 1);
    border: 0.2rem solid hsla(188, 100%, 25%, 1);
}
.my_account {
    margin-top: 1.2rem;
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 11rem;
    height: 3.3rem;
    line-height: 3.3rem;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    transition: height 0.4s;
}
.my_account_menu {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    line-height: 3.1rem;
    width: 100%;
    font-weight: 800;
}
.my_account_menu:after {
    content: "";
    position: absolute;
    right:0;
    top: 1.1rem;
    display: inline-block;
    line-height: 3.1rem;
    width: 1.6rem;
    height: 0.9rem;
    background-image: url("../img/main/d_arrow.png");
    background-size: cover;
}
.my_account:hover {
    height: 15rem;
}
.my_account ul {
    display: block;
}
.my_account li {
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    line-height: 2.6rem;
}


































/*some text*/