@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.woff2") format("woff2"),
         url("../fonts/Lato-Light.woff") format("woff");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2"),
         url("../fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.woff2") format("woff2"),
         url("../fonts/Lato-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
         url("../fonts/Lato-Semibold.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2"),
         url("../fonts/Lato-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Heavy.woff2") format("woff2"),
         url("../fonts/Lato-Heavy.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff2") format("woff2"),
         url("../fonts/Lato-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-LightItalic.woff2") format("woff2"),
         url("../fonts/Lato-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.woff2") format("woff2"),
         url("../fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"),
         url("../fonts/Lato-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: Resphekt;
    src: url("../fonts/Resphekt.eot");
    src:
         url("../fonts/Resphekt.woff") format("woff"),
         url("../fonts/Resphekt.ttf") format("truetype"),
         url("../fonts/Resphekt.svg") format("svg");
    font-weight: 400;
}



/*   L E G E N D    */
p,a,div,section,article,h1,h2,h3,h4,h5,h6,nav,header,footer {
    font-family: Lato;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a.name_header {
        display: block;
}

.white {
    color: hsl(0, 0%, 0%);
}
.text {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 19%);
}
.black {
    color: hsl(0, 0%, 19%);
}
.aqua {
    color: hsl(188, 100%, 25%);
}
.heavy {
    font-weight: 800;
}
.number_text {
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 400;
    font-style: normal;
}
.main_wrapper {
    width:100%;
    height:auto;
    overflow: hidden;
}
.mobile_header {
    display: none !important;
}
.discount_form .mobile_discount_form {
    display: none;
}
.mobile_btn {
    display: none;
}
h1.main_header {
    font-size: 4.8rem;
/*    line-height: 6rem;*/
    font-weight: 800;
    font-style: normal;
}
h3.section_header {
    font-size: 3.6rem;
    font-weight: 800;
/*    line-height: 6rem;*/
    font-style: normal;
}
h2.sub_header {
    font-family: Resphekt;
    font-size: 5.2rem;
    line-height: 6rem;
    font-weight: 200;
    font-style: normal;  
    letter-spacing: 2px;
}
h4.sub_header {
    font-family: Resphekt;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 6rem;
}
h6.name_header,
a.name_header {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 800;
}
.wrapper,
header,
footer {
    width: 114rem;
    padding: 0 3rem;
    margin: 0 auto;
    display: block;
}
/*.wrapper {
    min-height: 50vh;
}*/
footer {
    clear: both;
}
.header_wrapper {
    box-shadow: 0 3px 3px 1px hsla(0, 0%, 0%, 0.05);
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 10;
    transition: top 0.7s;
}
input, 
select {
    outline: none !important;
    border-radius: 0;
    background-color: white;
}
select {
    position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url(../img/main/d_arrow.svg);
      background-size: 8%;
      background-position: 23rem 2.6rem;
      background-repeat: no-repeat;
}
select option {
    width: 100%;
}
select option:selected {
    background-color: white;
}
select option::selected {
    background-color: white;
}
   select::-ms-expand {
    display: none;
   }
/*   H E A D E R   */

header {
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    background-color: white;
    transition: top 0.6s;
}
.header_fixed {
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    top:-6rem;
    z-index: 10;
    background-color: hsla( 0, 0%, 100%, 1);
    height: 6rem;
}
div.header_active {
    top: 0;
}
.header_menu {
    float: left;
    width: 40rem;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    
}
.header_menu li {
    width: auto;
    display: inline-block;
    text-align: left;
}
.header_menu a {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 800;
}
.logo {
    display: inline-block;
    width: 9.5rem;
    height:5rem;
    margin: 0.5rem 0;
    vertical-align: middle;
    cursor: pointer;
}
.logo img {
    width:100%;
    height: auto;
}
.search_header {
    display: inline-block;
    vertical-align: middle;
    height: 3.3rem;
    width: 25.3rem;
    float: right;
    margin-right: 3rem;
}

.search_header input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: hsla(188, 100%, 25%, 0.3);
    border: 0.2rem solid hsla(188, 100%, 25%, 0.3);
    padding-left: 2rem;
    font-size: 1.6rem;
    line-height: 3.3rem;
}
.search_header input::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
   }
.search_header input::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.search_header input:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

}
.search_header input::-ms-input-placeholder { 
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.search_header input::placeholder { 
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

} 
.search_header input:focus {
    color: hsla(188, 100%, 25%, 1);
    border: 0.2rem solid hsla(188, 100%, 25%, 1);
}
.my_account {
    position: relative;
    margin-top: 1.2rem;
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 11rem;
    height: auto;
    min-height: 3.3rem;
    line-height: 3.3rem;
    box-sizing: border-box;
    text-align: left;
}
.my_account_menu {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    line-height: 3.1rem;
    width: 100%;
    font-weight: 800;
}
.my_account_menu:after {
    content: "";
    position: absolute;
    right:0;
    top: 0.9rem;
    display: inline-block;
    line-height: 3.1rem;
    width: 1.8rem;
    height: 1rem;
    background-image: url("../img/main/d_arrow.svg");
    background-size: cover;
}
.my_account:hover ul {
    height: 6.5rem;
    padding: 2.7rem 1rem 1rem 1rem;
}
.my_account ul {
    display: block;
    padding: 0 1rem;
    position: absolute;
    top: 3.3rem;
    left: 0;
    height:0;
    overflow: hidden;
    width: 120%;
    z-index: 3;
    background-color: hsla( 0, 0%, 100%, 0.4);
    transition: height 0.6s, padding 0.4s;
}
.my_account li {
    cursor: pointer;
    display: block;
    margin: 0.5rem 0;
    font-size: 1.6rem;
    line-height: 2.6rem;
}


/*    M A I N    S C R E E N  */

.main_screen_wrapper {
    width: 100%;
    position: relative;
/*    top: 6rem;*/
    height: calc(100vh - 6rem);
    overflow: hidden;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 6rem;
}
.main_screen_wrapper:after {
    content: "";
    display: block;
    position: absolute;
    height: 2rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
}
.main_screen_video {
    position: absolute;
    width: 200%;
    height: calc(100% - 1rem);
    top: 0;
    left:  -50%;
    text-align: center;
}
.main_screen_video img {
    min-width: 50%;
    min-height: calc(100vh - 7rem);
    height:auto;
    display: inline-block;
}
.main_screen_video:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: hsla( 0, 0%, 100%, 0.4);
}
.sub_header,
.main_header,
.main_search,
.play_video {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
}
.play_video {
    width: 2rem;
    height: 1.5rem;
    margin-top: 4rem;
    cursor: pointer;
}
.sub_header {
    margin-top: 30vh;
}
.main_header,
.sub_header {
    line-height: 2.2rem;
}
.main_search {
    bottom: 2rem;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 6rem;
}
.main_search input,
.main_search select,
.main_search .btn {
    box-sizing: border-box;
    display: inline-block;
    width: 27rem;
    height: 6rem;
    padding-top: 0.7rem;
    line-height: 5rem;
    vertical-align: middle;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.main_search input,
.main_search select {
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    margin-right: 1.5rem;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 0;
}
.main_search .btn {
    position: relative;
    overflow: visible;
    padding-top: 0;
}
.main_search .btn:after {
    content: url(../img/main/3.svg);
    display: block;
    position: absolute;
    height: 1.6rem;
    width: 2.1rem;
    top: 1rem;
    left: -6rem;
    z-index: 1;
}
.main_search input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.main_search input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.main_search input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.main_search input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.main_search input::placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
} 
.main_search button {
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight:800;
    font-size: 1.6rem;
    cursor: pointer;
}
.travels_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 5.5rem;
}
.main_travel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    width: 37rem;
    height: 30rem;
    margin-bottom: 2rem;
/*    margin-top: 0.2rem;*/
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
/*    transition: margin-top 0.4s;*/
}
.main_travel:hover {
/*    margin-top: 0;*/
    box-shadow: 4px 3px 9px 2px hsla(0, 0%, 0%, 0.1);
}

.main_travel_price {
    position: absolute;
    right: 0;
    top: 1rem;
    display: inline-block;
    background-color: hsla( 0, 0%, 100%, 1);
    color: inherit;
    line-height: 3.3rem;
    padding: 0 1.5rem;
    z-index: 1;
    font-weight: 800;
}
.travel_video_container {
    position: relative;
    width: 200%;
    left: -50%;
    text-align: center;
    height: 21rem;
    overflow: hidden;
}
.travel_video_container:after {
    content: "";
    display: block;
    background-color: hsla(200, 35%, 93%, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.travel_video_container img {
    cursor: pointer;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 50%;
    display: inline-block;
}
.main_travel .name_header {
    margin-top: 1rem;
    margin-left: 2rem;
    color: inherit;
    min-height: 4.2rem;
}
.main_travel_date {
    display: inline-block;
    position: relative;
    margin: 1rem 0 0 2rem;
    padding-left: 3rem;
}
.main_travel_date:before {
    content: url("../img/main/3.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 2.1rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_spots {
    position: relative;
    padding-left: 2.1rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
.main_travel_spots:before {
    content: url("../img/main/5.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1.6rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_play {
    float: right;
    width: 2.2rem;
    height: 1.6rem;
    opacity: 0.7;
    margin-right: 2rem;
    margin-top: 1.2rem;
}
.show_more_travels {
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 27rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.advantages_container {
    margin-top: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 5.5rem;
}
.advantages_header {
    width: 100%;
    text-align: center;
    margin-top: 16rem;
    line-height: 2.5rem;
}
.advantages_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.advantage_block {
    display: inline-block;
    width: 26.5rem;
    height: 22rem;
}
.advantage_img {
    display: block;
    height: 13rem;
    line-height: 13.1rem;
    margin-bottom: 2rem;
}
.advantage_img img {
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    height: 100%;
}
.advantage_block .text {
    display: block;
}
.advantage_block:nth-child(1) .advantage_img img {
    height: 8.1rem;
}
.advantage_block:nth-child(2) .advantage_img img {
    height: 9.8rem;
}
.advantage_block:nth-child(3) .advantage_img img {
    height: 13.1rem;
}
.advantage_block:nth-child(4) .advantage_img img {
    height: 8rem;
}
.reviews_header {
    width: 100%;
    text-align: center;
    margin-top: 13rem;
    line-height: 2.5rem;
}
.reviews_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.reviews_container {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    left: -3rem;
}
.review_block {
    width: 27rem;
    height: 45rem;
    background-color: white;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 2rem;
}
.review_img {
    display: inline-block;
    margin-top: 2rem;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 16rem;
/*    border: 0.5px solid hsl(188, 100%, 25%);*/
}
.review_img img {
    width:  100%;
    height: 100%;
}
.review_header {
    width: 100%;
    text-align: center;
    margin-top: 1.4rem;
}
.review_object {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.review_block .text {
    display: inline-block;
    text-align: left;
    height: 15.8rem;
    width: 22.5rem;
}
.product_more_reviews {
    text-align: center;
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 27rem;
    height: 6rem;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.show_more_reviews {
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 21rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.discount_wrapper {
    margin-top: 10rem;
    width: 100%;
    display: block;
    padding: 4.5rem 0 8rem 0;
    position: relative;
    background-image: url(../img/main/discount.jpg);
    background-position: center;
    background-size: cover;
}
.discount_wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl( 0, 0%, 100%);
    opacity: 0.6;
}
.discount_header {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
}
.discount_subheader {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.discount_form {
    position: relative;
    z-index: 1;
    width: 114rem;
    margin: 6rem auto 0 auto;
}
.discount_form form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.discount_form input {
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    outline: none;
    width: 26.7rem;
    height: 4.5rem;
    box-sizing: border-box;
    border: 2px solid hsl(188, 100%, 25%);
    background-color: hsla( 0, 0%, 100%, 0);
}
.discount_form input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.discount_form input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form input::placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.discount_form button {
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width:29rem;
    height: 4.5rem;
    margin-left: 1rem;
}

.captains_header {
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 10rem;
}
.captains_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.captains_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
} 
.captain_block {
    display: inline-block;
    width: 37rem;
    height: 34rem;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: white;
    margin-bottom: 2rem;
}
.captain_img {
    display: inline-block;
    margin-top: 2rem;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 16rem;
/*    border: 0.5px solid hsl(188, 100%, 25%);*/
}
.captain_img img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.captain_name {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.captain_block .text {
    display: inline-block;
    text-align: left;
    width: 33rem;
}
.captain_block .text span {
    font-weight: 800;
}
.captains_btn_container {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.show_all_captains {
    display: inline-block;
    vertical-align: middle;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 32rem;
    height: 6rem;
    line-height: 6rem;
    margin-right: 2rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.become_a_captain {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    width: 20rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800; 
}

.infos_header {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    line-height: 2.5rem;
}
.infos_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.infos_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
}
.info_block {
    width: 27rem;
    height: 45rem;
    background-color: white;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 1.5rem;
}
.info_img {
    display: inline-block;
    margin-top: 2rem;
    width: 23rem;
    height: 15rem;
    overflow: hidden;
    text-align: center;
}
.info_img img {
    display: inline-block;
    width:  auto;
    height: 100%;
}
a.info_header,
.info_header {
    width: 22.5rem;
    display: inline-block;
    text-align: left;
    margin: 1.4rem 0;
/*    min-height: 4.2rem;*/
}
.info_block .text {
    display: inline-block;
    text-align: left;
    height: 15.8rem;
    width: 22.5rem;
}
.show_more_infos {
    cursor: pointer;
    margin: 4rem auto 0 auto;
    display: block;
    width: 21rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800; 
}

footer {
    padding-bottom: 10rem;
    margin-top: 10rem;
    text-align: left;
}
footer .text {
    color: hsla(188, 100%, 25%, 1);
}
.footer_menu {
    display: inline-block;
    width: 29rem;
    vertical-align: top;
}
.footer_menu li {
    margin: 0 0 1rem 0;
}
.footer_adress {
    vertical-align: top;
    width: 37rem;
    display: inline-block;
    margin-right: 12rem;
}
.adress_block {
    line-height: 2.4rem;
}
.footer_adress a {
    display: block;
    line-height: 2.4rem;
}
.copyright_wrapper {
    width: 33rem;
    display: inline-block;
    vertical-align: bottom;
}
.copyright_wrapper div {
    margin-bottom: 1rem;
}
.sub_slider_viewer {
    display: inline-block;
    width: 17.5rem;
    height: 43rem;
    overflow: hidden;
    position: relative;

}
.sub_slider_viewer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla( 0, 0%, 100%, 0.3);
    z-index: 2;
}
.sub_slider_wrapper {
    display: block;
    width:100%;
    height: 1200rem;
    font-size: 0;
}
.sub_slide {
    display: inline-block;
    width: 100%;
    height: 13.2rem;
    margin-bottom: 2rem;
    background-position: center;
    background-size: cover;
}
.sub_slide img {
    width: 100%;
    height: auto;
}
.main_slider_viewer {
    float: right;
    width: 94.5rem;
    height: 43rem;
    display: inline-block;
    overflow: hidden;
    position: relative;

}
.main_slider_viewer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla( 0, 0%, 100%, 0.3);
    z-index: 2;
}
.main_slider_wrapper {
    width: 1200rem;
    height: 100%;
    display: block;
    font-size: 0;
}
.main_slide {
    width: 94.5rem;
    height: 100%;
    display: inline-block;
}
.main_slide img {
    width: 100%;
    height: 100%;
}
.product_header {
    width: 100%;
    text-align: left;
    clear: both;
    margin-top: 5.5rem;
}
.all_product_header {
    width: 100%;
    margin-top: 3rem;
}
.product_container {
    margin-top: 5rem;
}
.product_captain_block {
    display: inline-block;
    width: 37rem;
    height: 34rem;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: white;
}
.product_captain_img {
    display: inline-block;
    margin-top: 2rem;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 16rem;
/*    border: 0.5px solid hsl(188, 100%, 25%);*/
}
.product_captain_img img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.product_captain_name {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.product_captain_block .text {
    display: inline-block;
    text-align: left;
    width: 33rem;
}
.product_captain_block .text span {
    font-weight: 800;
}
.product_info {
    position: relative;
    display: inline-block;
    float: right;
    width: 68.5rem;
    text-align: left;
    height: 34rem;
}
.product_info .text {
    display: inline-block;
    position: relative;
    width: 15rem;
    text-align: left;
    vertical-align: top;
    margin-right: 7.5rem;
    overflow: hidden;
}
.product_info .text:before {
    display: block;
    content: url(../img/Product/21x20.svg);
    width: 2.1rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.product_info .text:nth-child(2):before {
    content: url(../img/Product/18x20.svg);
    width: 1.8rem;
    height: 2rem;
}
.product_info .text:nth-child(3):before {
    content: url(../img/Product/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F%201.svg);
    width: 2.2rem;
    height: 1.6rem;
}
.product_calendar {
    width: 100%;
    height: 25rem;
    position: absolute;
    bottom: 0;
}
.product_calendar img {
    width: 100%;
    height: 100%;
}
.product_buttons_container {
    display: block;
    margin-top: 4rem;
    width: 100%;
    text-align: left;
/*    line-height: 6rem;*/
/*    height: 6rem;*/
}
.product_btn_buy {
    display: inline-block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width:27rem;
    height: 6rem;
    line-height: 6rem;
    margin-right: 2rem;
    text-align: center;
}
.product_btn_wish {
    cursor: pointer;
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 2rem;
    vertical-align: middle;
}
.product_btn_wish img {
    width: 100%;
    height: 100%;
}
.product_btn_share {
    cursor: pointer;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    vertical-align: middle;
}
.product_btn_share img {
    width: 100%;
    height: 100%;
}
.product_text {
    width: 100%;
    margin-top: 6rem;
}
.show_full_travel {
    cursor: pointer;
    margin: 4.5rem 0 0 0;
    display: block;
    width: 29rem;
    height: 6.5rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6.5rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.same_products_header {
    margin-top: 11rem;
}
.same_travels_container {
    margin-top: 3.5rem;
}
.saw_products_header {
    margin-top: 10rem;
}
.saw_travels_container {
    margin-top: 3.5rem;
}
.saw_travels_container article {
    width: 27.5rem;
}
.search_container {
    display: block;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    line-height: 11rem;
    background-color: hsl(188, 100%, 25%);
}
.search_container input,
.search_container select,
.search_container .btn {
    box-sizing: border-box;
    display: inline-block;
    width: 27rem;
    height: 6rem;
    padding-top: 0.7rem;
    line-height: 5rem;
    vertical-align: middle;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.search_container input,
.search_container select {
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    margin-right: 1.5rem;
    outline: none;
    border: none;
}
.search_container input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.search_container input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.search_container input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.search_container input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.search_container input::placeholder { 
    font-size: 1.6rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
} 
.sorting_container {
    width: 100%;
    text-align: left;
    margin-top: 2.5rem;
}
.sorting_container .text {
    display: inline-block;
    margin-right: 4.5rem;
}
.sorting_container select {
    display: inline-block;
    box-sizing: border-box;
    width: 27rem;
    height: 4rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(188, 100%, 25%);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.1rem;
    margin-right: 1.5rem;
    padding-left: calc(2rem - 2px);
}
.listing_products_container {
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 76rem;
    height: auto;
    margin: 4rem 0;
}
.main_travel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    width: 37rem;
    height: 30rem;
    margin-bottom: 2rem;
/*    margin-top: 0.2rem;*/
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
/*    transition: margin-top 0.4s;*/
}
.main_travel:hover {
/*    margin-top: 0;*/
    box-shadow: 4px 3px 9px 2px hsla(0, 0%, 0%, 0.1);
}

.main_travel_price {
    position: absolute;
    right: 0;
    top: 1rem;
    display: inline-block;
    background-color: hsla( 0, 0%, 100%, 1);
    color: inherit;
    line-height: 3.3rem;
    padding: 0 1.5rem;
    z-index: 1;
    font-weight: 800;
}
.travel_video_container {
    position: relative;
    width: 200%;
    left: -50%;
    text-align: center;
    height: 21rem;
    overflow: hidden;
}
.travel_video_container:after {
    content: "";
    display: block;
    background-color: hsla(200, 35%, 93%, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.travel_video_container img {
    cursor: pointer;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 50%;
    display: inline-block;
}
.main_travel .name_header {
    margin-top: 1rem;
    margin-left: 2rem;
    color: inherit;
    min-height: 4.2rem;
}
.main_travel_date {
    display: inline-block;
    position: relative;
    margin: 1rem 0 0 2rem;
    padding-left: 3rem;
}
.main_travel_date:before {
    content: url("../img/main/3.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 2.1rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_spots {
    position: relative;
    padding-left: 2.1rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
.main_travel_spots:before {
    content: url("../img/main/5.svg");
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1.6rem;
    height:1.6rem;
    opacity: 0.7;
}
.main_travel_play {
    float: right;
    width: 2.2rem;
    height: 1.6rem;
    opacity: 0.7;
    margin-right: 2rem;
    margin-top: 1.2rem;
}
.listing_map_container {
    width: 36rem;
    float: right;
    height: 62rem;
    margin-top: 4rem;
    background-position: center;
    background-size: cover;
}

.listing_show_more {
    clear: both;
    cursor: pointer;
    margin: 0 auto 0 auto;
    display: block;
    width: 30rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.own_travel_container {
    display: block;
    margin-top: 20rem;
    width: 100%;
    padding: 4.5rem 0 6rem 0;
    text-align: center;
    background-image: url(../img/Listing-page/7.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.own_travel_container:after {
    position: absolute;
    z-index: 1;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0.6);
}
.own_travel_wrapper {
    display: inline-block;
    width: 63rem;
    text-align: left;
    position: relative;
    z-index: 2;
    
}
.own_travel_container .text {
    text-align: left;
    margin-top: 2rem;

}
.own_travel_form {
    margin-top: 4rem;
    display: block;
    text-align: left;
}
.own_travel_form input {
    margin-top: 1rem;
    display: block;
    color: hsla(188, 100%, 25%, 1);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.1rem;
    padding-left: 2rem;
    opacity: 1;
    outline: none;
    width: 29rem;
    height: 4.5rem;
    box-sizing: border-box;
    border: 2px solid hsl(188, 100%, 25%);
    background-color: hsla( 0, 0%, 100%, 0);
}
.own_travel_form input::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
   }
.own_travel_form input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form input:-ms-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form input::-ms-input-placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form input::placeholder { 
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 1);
    opacity: 1;
}
.own_travel_form button {
    display: block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width:29rem;
    height: 4.5rem;
    margin-top: 2rem;
}
.listing_reviews_header {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
}
.listing_reviews_wrapper {
    margin-bottom: 11rem;
}
.owner_container {
    margin-top: 5rem;
    display: block;
    text-align: left;
}
.owner_img {
    position: relative;
    width: 46rem;
    height: 40rem;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin-right: 2rem;
}
.owner_img_wrapper {
    position: absolute;
    display: block;
    text-align: center;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    line-height: 80rem;
}
.owner_img img {
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.owner_text {
    vertical-align: top;
    display: inline-block;
    width: 65rem;
}
.owner_header {
    margin: 0;
    width: auto;
    display: block;
}
.owner_post {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: auto;
    display: block;
}
.owner_container .text {
    display: block;
}
.owner_container .text span {
    font-weight: 800;
}
.owner_reviews_header {
    width: 100%;
    text-align: center;
    margin-top: 11rem;
    line-height: 2.5rem;
}
.owner_travels_header {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
}
.owner_travels_header + .travels_container {
    margin-top: 3rem;
}

.helps_header {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    line-height: 2.5rem;
}
.helps_subheader {
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height: 2.5rem
}
.helps_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 2rem;
}
.help_block {
    overflow: hidden;
    position: relative;
    width: 27rem;
    height: 47rem;
    margin-bottom: 1.5rem;
    background-color: white;
    text-align: center;
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
}
.help_block:nth-child(1),
.help_block:nth-child(2) {
    width: 56rem;
    height: 65rem;
}
.help_block:nth-child(1) .help_header,
.help_block:nth-child(2) .help_header {
    font-size: 3.6rem;
    width: 52rem;
    margin-top: 2rem;
    margin-bottom: 0;
}
.help_block:nth-child(1) .text,
.help_block:nth-child(2) .text {
    width: 52rem;
    margin-top: 2rem;
    height: 13.8rem;
}
.help_block:nth-child(1) .help_img,
.help_block:nth-child(2) .help_img {
    width: 52rem;
    height: 32rem;
}
.help_block:nth-child(1) .help_img_wrapper,
.help_block:nth-child(2) .help_img_wrapper {
    line-height: 64rem;
}
.help_img {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    width: 23rem;
    height: 15rem;
    overflow: hidden;
    text-align: center;
}
.help_img_wrapper {
    width: 200%;
    height: 200%;
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    text-align: center;
    line-height: 30rem;
}
.help_img img {
    display: inline-block;
    width:  50%;
    height: auto;
    vertical-align: middle;
}
a.help_header {
    width: 22.5rem;
    display: inline-block;
    text-align: left;
    margin: 1.4rem 0;
/*    min-height: 4.2rem;*/
}
.help_block .text {
    display: inline-block;
    text-align: left;
    height: 12rem;
    overflow: hidden;
    width: 22.5rem;
}
.show_more_helps {
    display: block;
    vertical-align: middle;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 30rem;
    height: 6rem;
    margin: 5rem auto 0 auto;
    text-align: center;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.help_block_btn {
    cursor: pointer;
    display: block;
    width: 21rem;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
    position: absolute;
    left: 2.2rem;
    bottom: 3rem;
    margin: 0 auto;
}
.video_container {
    width:58rem;
    height: 36rem;
    display: inline-block;
    margin-right: 8rem;
    position: relative;
}
.video_wrapper {
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    text-align: center;
    line-height: 72rem;
    display: block;
}
.video_wrapper img {
    width: auto;
    height: 50%;
    vertical-align: middle;
    display: inline-block;
}
.video_wrapper video {
    width: auto;
    height: 50%;
    vertical-align: middle;
    display: inline-block;
}
.adress_container   {
    width: 38rem;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
.contacts_header,
.contacts_subheader {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0rem;
}
h4.contacts_subheader {
    margin-bottom: 2rem;
    line-height: 4rem;
}
.adress_wrapper {
    margin-bottom: 6rem;
}
.adress_wrapper .text {
    line-height: 2.2rem;
}
.wish_products_container {
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 3rem 0;
}
.wish_wrapper {
    width: 76rem;
    display: inline-block;

}
.wish_header {
    display: inline-block;
    width: auto;
    float: left;
}
.show_wish_travels {
    clear: both;
    cursor: pointer;
    margin: 4rem auto 0 auto;
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.profile_container {
    width: 29rem;
    float: right;
    height: 62rem;
    position: relative;
}
.profile_img {
    width: 25rem;
    height: 21rem;
    position: relative;
    overflow: hidden;
}
.profile_img_wrapper {
    position: absolute;
    display: inline-block;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    text-align: center;
    line-height: 42rem;
}
.profile_img img {
    width: 50%;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
}
.profile_container .name_header {
    margin-top: 4rem;
}
.profile_container .text {
    margin-top: 1rem;
}
.edit_profile {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.edit_profile:hover::after { 
    content: attr(data-title);
    position: absolute;
    top: -2rem;
    right: 0;
    font-size: 1.4rem;
}
.my_travels_header {
    margin-top: 7rem;
}
.my_travels_map {
    position: relative;
    display: block;
    width: 100%;
    height: 53rem;
    background-position: center;
    background-size: cover;
    margin-top: 2.5rem;
    margin-bottom: 8rem;

}
.my_travels_map:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: hsla(0, 0%, 100%, 0.6);
    z-index: 1;
}
.history_products_container {
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 3rem 0 12rem 0;
}
.history_travel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    width: 27rem;
    height: 27rem;
    margin-bottom: 2rem;
/*    margin-top: 0.2rem;*/
    box-shadow: 3px 2px 6px 1px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
/*    transition: margin-top 0.4s;*/
}
.travel_video_container {
    position: relative;
    width: 200%;
    left: -50%;
    text-align: center;
    height: 21rem;
    overflow: hidden;
}
.travel_video_container:after {
    content: "";
    display: block;
    background-color: hsla(200, 35%, 93%, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.travel_video_container img {
    cursor: pointer;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 50%;
    display: inline-block;
}
.history_travel .text {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    color: inherit;
}
.my_reviews_header {
    clear: both;
}

.my_reviews_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.my_review {
    width: 56rem;
    display: inline-block;
    margin-bottom: 3rem;
}
.my_review .my_review_header {
    display: inline-block;
    margin: 3rem 2rem 2rem 0;
    width: auto;
}
.my_review_date {
    display: inline-block;
    width: auto;
}
.page_search_header {
    width: 100%;
    text-align: center;
}
.page_search {
    text-align: center;
    margin-top: 2rem;

}
.page_search select,
.page_search input {
    box-sizing: border-box;
    width: 27rem;
    height: 6rem;
    padding-left: 2rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 1px solid hsl(188, 100%, 25%);
    background-color: hsl(0, 0%, 100%);
    margin-right: 2rem;
    color: hsl(188, 100%, 25%);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.1rem;
}
.search_travel_header {
    width: 100%;
    text-align: left;
    margin-top: 8.5rem;
}
.search_show_travels {
    display: block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 34rem;
    height: 6rem;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    text-align: center;
    margin: 4rem auto;
}
.search_more_infos {
    display: block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 40rem;
    height: 6rem;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    text-align: center;
    margin: 4rem auto;
}
.search_all_captains {
    display: block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 44rem;
    height: 6rem;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    text-align: center;
    margin: 4rem auto;
}
.show_next_captains {
    display: block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 35rem;
    height: 6rem;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    text-align: center;
    margin: 4rem auto;
}
.captains_page_header {
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 5rem;
}
.captains_page_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
} 
.article_img {
    width: 100%;
    height: 59rem;
    overflow: hidden;
    display: block;
    position: relative;
    margin-top: 11rem;
}
.article_img_wrapper {
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    text-align: center;
    line-height: 118rem;
}
.article_img img {
    width: 50%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.article_header {
    display: inline-block;
    margin-top: 5rem;
    width: 56rem;
    margin-bottom: 2rem;
}
.article_text {
    width: 56rem;
    display: inline-block;
    margin-bottom: 15rem;
}
.article_text p,
.article_text div,
.article_text li {
    color: inherit;
}
.article_btn {
    width: 100%;
    margin-top: 4rem;
    text-align: right;
}
div.print_article {
    cursor: pointer;
    margin-right: 2rem;
    display: inline-block;
    width: 25rem;
    height: 6rem;
    color: hsl(188, 100%, 25%);
    box-sizing: border-box;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsl(188, 100%, 25%);
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 800;
}
div.save_article {
    display: inline-block;
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    width: 25rem;
    height: 6rem;
    line-height: 6rem;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
    text-align: center;
}
.article_text ul li  {
    position: relative;
    margin: 2rem 0 2rem 4rem;
}
.article_text ul li:before {
    content: url(../img/Article/icon.svg);
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: inline-block;
    left: -4rem;
    top: 0;
}
.article_travels_container {
    width: 58rem;
    text-align: center;
    float: right;
    margin-top: 2rem;
    margin-bottom: 15rem;
}
.article_travels_container .main_travel {
    display: inline-block;
}
h6.nearest_travel_header {
    display: inline-block;
    width: auto;
    margin-left: 10rem;
}
.cart_travels_container {
    width: auto;
    float: left;
}
.cart_container {
    width: 73rem;
    float: right;
    margin-left: 2rem;
    margin-bottom: 12rem;
}
.cart_header {
    margin-bottom: 4rem;
}
.cart_container .text {
    margin-bottom: 1rem;
    display: block;
    line-height: 6rem;
}
.cart_form select,
.cart_form .btn {
    box-sizing: border-box;
    display: inline-block;
    height: 6rem;
    padding-top: 0.7rem;
    line-height: 5rem;
    vertical-align: middle;
    box-shadow: 0 3px 10px 1px hsla(0, 0%, 0%, 0.1);
}
.cart_form .btn {
    width: 29rem;
    margin-top: 6rem;
    height: 4.4rem;
    line-height: 4.4rem;
    padding: 0;
}
.cart_form select {
    color: hsla(188, 100%, 25%, 1);
    width: auto;
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2.5rem;
    padding-left: 2rem;
    opacity: 1;
    margin-left: 1rem;
    outline: none;
    border: none;
}
.cart_form input {
    display: block;
    box-sizing: border-box;
    width: 29rem;
    height: 4.4rem;
    color: hsla(188, 100%, 25%, 0.3);
    border: 0.2rem solid hsla(188, 100%, 25%, 1);
    padding-left: 2rem;
    font-size: 1.6rem;
    line-height: 4.4rem;
    margin-bottom: 0.5rem;
}
.cart_form input::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 4.4rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
   }
.cart_form input::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 4.4rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.cart_form input:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 4.4rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

}
.cart_form input::-ms-input-placeholder { 
    font-size: 1.6rem;
    line-height: 4.4rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);
}
.cart_form input::placeholder { 
    font-size: 1.6rem;
    line-height: 4.4rem;
    font-weight: 800;
    font-family: Lato;
    color: hsla(188, 100%, 25%, 0.3);

} 
.cart_form input:focus {
    color: hsla(188, 100%, 25%, 1);
    border: 0.2rem solid hsla(188, 100%, 25%, 1);
}
.cart_form button {
    background-color: hsla(188, 100%, 25%, 1); 
    border: none;
    color: white;
    font-family: Lato;
    font-weight:800;
    font-size: 1.6rem;
    cursor: pointer;
}




div.mob_show,
h6.mob_show,
a.mob_show,
form.mob_show {
    display: none;
}
/*some text*/